
@font-face {
    font-family: 'jackpotregular';
    src: url('font/jackpot-regular-webfont.woff2') format('woff2'),
         url('font/jackpot-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	margin:0;
	padding:0;
	height:100%;
	position: absolute;
}


 #con {
	min-height:100%;
	position: fixed;
 }
 #content {
	height: 1000px; /* Changed this height */
	padding-bottom:60px;
 }


 .logo {

	width: 300px;

	padding-top: 40px;
 }

.nav {

	position: fixed;

	top: 10px;

	right: 10px;

	list-style: none;
	
}

.list{ 

 	font-family: 'jackpotregular', jackpotregular !important;

 	position: center;
	
	font-size: 15px;

	color: #dd0000;

	display: inline-block;

	text-align: justify;

	padding: 50px;

 }

h1 {

	font-family: 'jackpotregular', jackpotregular;
	
	font-size: 136px;
}

h2 {

	font-family: 'jackpotregular', jackpotregular;
	
	font-size: 22px;
}



a, u {

	text-decoration: none !important;

	color: black;
}

/* a:hover {
	
	color: #D7FC39;
} */

.colourone:hover {
	color: #8BDADC;
}

.colourtwo:hover {
	color: #D7FC39;
}

.colourthree:hover {
	color: #40A05D;
}

@media screen(max-width: 800px;){
	main {
		flex-direction: column;
		
		flex-wrap: nowrap;
	}

}

.bottom {


  
	text-align: center;
  
	z-index: 899;

	position: absolute;  

	width: 100%; 
	

  }